@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                //theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                handleWindowResize: true,
                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                //events: "/Patient/GetCalendarData/"
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/Doctor/GetCalendarData',
                        type: "GET",
                        dataType: "JSON",

                        success: function (result) {
                            var events = [];

                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.Title,
                                        description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD'),
                                        end: moment(data.End_Date).format('YYYY-MM-DD'),
                                        backgroundColor: data.PriorityColor,
                                        borderColor: "#000000"
                                    });
                            });

                            callback(events);
                        }
                    });
                },
                //eventRender: function (event, element)
                //{
                //    element.qtip(
                //    {
                //        content: event.description
                //    });
                //}//,

                editable: false
            });
        });
    </script>
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-3 border-right p-r-0">
                                <div class="card-body border-bottom">
                                    <h4 class="card-title m-t-15">Upcoming Appointments</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @foreach (medexnet.Models.DoctorEvents item in Model.myEvents)
                                            {
                                            <a href="#" class="text-secondary">
                                                <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => item.Date)</h4>
                                                @*<h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => Convert.ToDateTime(item.date))</h4>*@
                                            <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Patient_Name) | @Html.DisplayFor(modelItem => item.Description)</p>
                                            </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card-body b-l calender-sidebar">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN MODAL -->
    </div> <!-- End Page Content -->
</div><!-- End Page Wrapper  -->                