@model medexnet.Models.UserModel

<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Patient Information</h4>
    </div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
            
        </dd>

        <dt>
            
        </dt>

        <dd>
            
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

    </dl>
</div>  