@model medexnet.Models.UserModel

@{
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
